
* {
  margin: 0px;
  padding: 0px;
  background-color: var(--beige);
  font-family: "Roboto", sans-serif;
}

body section {
  margin-right: 30px;
  margin-left: 10px;
}

/*TEMPORARIO HEADER*/
header {
  background-color: var(--dark-brown);
  padding: 5px 0px 5px 0px;
  max-height: 100px;
  display: flex;
}

header img {
  background-color: #00000000;
}

header a {
  background-color: #00000000;
  margin: auto 20px;
  color: #ffffff;
  font-size: 22px;
  text-decoration: none;
}

header a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.container h1, h2 {
  background-color: var(--light-brown);
  font-size: 24px;
  font-weight: 700;  
  font-style: italic;
  padding: 5px;
  margin-bottom: 10px;
}

.container h1, h2, p {
  margin-left: 10px;
  text-align: justify;
  text-justify: auto;
  padding-left: 10px;

}

.container p {
  font-size: 18px;
}

/*CORES*/
:root {
  --royal-blue: #2A3663;
  --beige: #FAF6E3;
  --light-green: #D8DBBD;
  --light-brown: #B59F78;
  --dark-brown: #3B3030;
}
