<div class="grid-layout">
  <section class="s-footer">
    <div id="links-footer">
      <a class="a-text" href="/">
        <img src="/imgs/icon_belmonte-sem-fundo.png" alt="Logo Biblioteca Belmonte" height="100px"/>
      </a>

      <a class="a-text" href="/pages/aconteceu/">Aconteceu</a>
      <a class="a-text" href="/pages/historico/">Historico</a>
      <a class="a-text" href="/pages/programacao-cultural/">Programação</a>
      <a class="a-text" href="/pages/como-chegar/">Como Chegar</a>
      <a class="a-text" href="/pages/contato/">Contato</a>
    </div>
    <div id="contact-footer">
      <a
        href="https://www.instagram.com/ajovensdofuturo/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="bi bi-instagram icon-link"></i>
      </a>
      <a
        href="https://www.linkedin.com/company/associa%C3%A7%C3%A3o-jovens-do-futuro/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="bi bi-linkedin icon-link"></i>
      </a>
    </div>
  </section>

  <div class="line"></div>

  <span>
    © 2024 Biblioteca Belmonte. Todos os direitos reservados.
  </span>
</div>
