<div class="grid-layout">
  <nav>
    <ul>
      <li>
        <a href="/">
          <img
            src="/imgs/icon_belmonte-sem-fundo.png"
            alt="Logo Biblioteca Belmonte"
          />
        </a>
      </li>

      <button class="menu"></button>

      <ul class="box-links">
        <li>
          <a class="a-text" href="/pages/aconteceu/">Aconteceu na Biblioteca</a>
        </li>
        <li>
          <a class="a-text" href="/pages/historico/">Historico</a>
        </li>
        <li>
          <a class="a-text" href="/pages/programacao-cultural/">Programação Cultural</a>
        </li>
        <li>
          <a class="a-text" href="/pages/sobre-lib-tematica/">Biblioteca Temática</a>
        </li>
        <li>
          <a class="a-text" href="/pages/como-chegar/">Como Chegar</a>
        </li>
        <li>
          <a class="a-text" href="/pages/contato/">Contato</a>
        </li>
      </ul>
    </ul>
  </nav>
</div>
